<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Page</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Public+Sans:wght@300&display=swap" rel="stylesheet">
     style
          include ../static/Aboutusstyle.css 
</head>    
<body>
    <nav id="navArea">
        <div class="logo">
          <a href="#">
            <img src="static/Logo2.png" alt="your company logo">
          </a>
        </div>
        //- <ul>
        //-   <li><a href="/home">Home</a></li>
        //-   <li><a href="/register">Sign Up</a></li>
        //-   <li><a href="/fillup">Complain</a></li>
        //-   <li><a href="/contactus">Contact Us</a></li>
        //-   <li><a href="/aboutus">About Us</a></li>
        //- </ul>
    </nav>

    <div id="id01">
      <img src="static/IconM.png" alt="Error" height="400px" width="400px">
      <h1>Mr. Prasanta Bairagi</h1>
      <p>Assistant Professor</p>
      <p>Gude of the Project</p>
    </div>

    <div id="id02">
      <img src="static/IconM.png" alt="Error" height="400px" width="400px">
      <h1>T Neeraj Singha</h1>
      <p>B.Tech  <b>ADTU/2019-23/BCS/005</b></p>
      <p>Hey, I am a student and I develop this idea.</p>
    </div>
      
    <footer>
         blank
    </footer>
</body>
</html>