<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fillup Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Public+Sans:wght@300&display=swap" rel="stylesheet">
    style
          include ../static/Fillupstyle.css 
</head>
<body>
    <nav id="navArea">
        <div class="logo">
          <a href="#">
            <img src="static/Logo2.png" alt="your company logo">
          </a>
        </div>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/contactus">Contact Us</a></li>
          <li><a href="/aboutus">About Us</a></li>
        </ul>
        </nav>

        <div id="id01">
            <h1 class="h1">Fill up the details below</h1>
        </div>
    
        <div id="id02">
            <form class="buttons" action='/complaint' method="post">
                E Email :
                <input type="text" name="email" id="email" class="Location" required><br>

                L Location :
                <select class="Location" name='location' id='location'>
                    <option value="None">None</option>
                    <option value="Narangi">Narangi</option>
                    <option value="Panikheiti">Panikheiti</option>
                    <option value="Sathgaon">Sathgaon</option>
                    <option value="Chandmari">Chandmari</option>
                </select><br>
    
                w Waste Type :
                <select class="Type" name='type' id='type'>
                     <option value="None">None</option>
                     <option value="Wet">Wet Waste</option>
                     <option value="Dry">Dry Waste</option>
                </select><br>
    
                ab Quantty of your waste :
                <select class="quantity" name='quantity' id='quantity'>
                     <option value="None">None</option>
                     <option value="Less than 5 kgs">Less than 5 kgs</option>
                     <option value="More than 5 kgs">More than 5 kgs</option>
                     <option value="More than 10 kgs">More than 10 kgs</option>
                     <option value="More than 20 kgs">More than 20 kgs</option>
                </select><br>
    
                <!-- <a href="Thankyou.pug"> -->
                    <input type="submit" value="Submit" class="submit" id='submit'>
                </a>
            </form>
        </div>

        <footer>Nothing to write for footer</footer>
    
</body>
</html>