<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Page</title>
    style
        include ../static/helpstyle.css
    
</head>
<body>
    <nav id="navArea">
        <div class="logo">
            <a href="#">
                <img src="static/Logo2.png" alt="your company logo">
            </a>
        </div>
        //- <ul>
        //-     <li><a href="/home">Home</a></li>
        //-     <li><a href="/fillup">Fill Up</a></li>
        //-     <li><a href="/help">FAQs</a></li>
        //-     <li><a href="/aboutus">About Us</a></li>
        //- </ul>
    </nav>

    <h3>Everything you need to know for this service</h3>
    
    <div id="id03">
        <h4>How to fillup</h4><br>
        <ul class="details">
            <li>If you haven't registered here, then register yourself first. For registration you can <a href="/register">click here</a>.</li>
            <li>After registration, you will be directed to the login page. If you are already registered, then <a href="/login">click here</a>.</li>
            <li>Now for filing an order for pickup, click on fillup on the top right or <a href="/fillup">click here</a>. Here you have to provide your location, house number and colony.</li>
            <li>After filing up the order, you will be directed to logout page and date and time for pickup will be updated.</li>
        </ul>
    </div>

    <div id="id01">
        <h1>The place where we provides our services
        </h1><br>
            <ul class="details">
                <li><a href="https://goo.gl/maps/63Rjvxq66et9zhFL7">Panikheiti</a></li>
                <li><a href="https://goo.gl/maps/VL3J19VPcNggPFZc6">Narangi</a></li>
                <li><a href="https://goo.gl/maps/AspYRigBVFwXV8SA8">Chandmari</a></li>
                <li><a href="https://goo.gl/maps/GS8ffE35DqdjRtQR8">Sathgaon</a></li>
            </ul><br>
        
        <p>Right now, this is a demo site so locations are little.</p>
        
    </div>

    <div id="id02">
        <h2>About the waste you can donate
        </h2><br>
        <ul class="details">
            <li>Dry Waste</li>
            <p>Dry waste consists of waste that does not decay. It is also known as waste which cannot be biodegradable. Dry waste consists of paper, glass, thermocol, Styrofoam, rubber, metal, cloth, empty bottles, stationeries, etc. and  can be recycled into new products further. Before segregating, sharp materials like glass and other metals shall be kept in a separate bag/container.</p><br>
            <li>Wet Waste</li>
            <p>Wet waste is all the kitchen waste that we produce. This can include vegetable peels, used tea, fruits, leftovers, etc. These are basically biodegradable organic waste that can also be composted.</p><br>
            <li>Glass Waste</li>
            <p>Waste glass is another waste material that is produced in large quantities and is difficult to eliminate. It is known that most of the waste glass is collected, especially container glasses, remelted, and used to produce new glass. However, not all of the waste glass is suitable for the production of new glass.</p><br>
            <li>Paper Waste</li>
            <p>Paper Waste is a severe problem in many industries and offices. Because of printing mistakes, junk mails, billings, and packaging, the paper may comprise up to 70% of a company's total waste. An average office employee would be using about 10,000 sheets of paper in a year.</p><br>
            <li>Metal Waste</li>
            <p>Metal Waste means ferrous and non-ferrous metallic materials, including but not limited to, sheet metal, siding, roofing, rebar, flashings, pipes, window frames, doors, furnaces, duct work, wire, cable, bathtubs, fencing, bicycle frames, automotive body parts, machinery, garbage cans, metal furniture, tire rims, propane cylinders (up to 46 kgs in size).</p><br>
        </ul>

    </div>

    <footer>
        <h5></h5>
    </footer>
</body>
</html>