<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Public+Sans:wght@300&display=swap" rel="stylesheet">
     style
          include ../static/Homestyle.css 
</head>    
<body>
    <nav id="navArea">
        <div class="logo">
          <a href="#">
            <img src="static/Logo2.png" alt="your company logo">
          </a>
        </div>
        <ul>
          <li><a href="/home">Home</a></li>
          //- <li><a href="/fillup">Complain</a></li>
          <li><a href="/help">FAQs</a></li>
          <li><a href="/contactus">Contact Us</a></li>
          <li><a href="/aboutus">About Us</a></li>
        </ul>
    </nav>

    <div class="form">
      <h7>For complain <a href="/fillup">click here</a>.</h7>
      <img src="static/fillup.jpg" alt="error" height="50px" weight="50px">
      
    </div>

        <div id="id01">
        <h1>The Version behind this System</h1><br>
        <p>Most of us living far from city center maybe facing the "Where to throw garbage" or "looking for proper garbage pickup system". So this system works as middle-system which takes orders or complaint from the users about the pickup. And with the provided data, we can analyze where the demand is high and a particular organization can send the pickup. 
        </p><br>

        <p>With this system of auto-detection, any organizaton don't have to send the pickup service without knowing so that they can cut down the cost of the service and they can work efficient. Also, send the service to needy one first.
        </p><br>

        <h2>The Need for Proper Garbage System</h2><br>
        <p>Recently, with all outbreak of diseases around the globe. Hygiene is main point of people. Without proper system, people usually throw the garbage in their surroundings and which can lead to many diseases and make neighbors dirty. "Why do people trow garbage?" because there is not a proper system which collect garbage on daily wise in many places.
        </p>

        <img src="static/Logo2.png" alt="PickBin">
    </div>

    <div id="id02">
        <h3>Awareness Campaign on Waste Management and Disposal</h3><br>
        <p>Why Awareness campaign on waste management is so important?</p><br>
        <p>Waste management and disposal of waste is a serious issue that we are facing nowadays. If we are not aware of proper waste management, it leads to serious issues like air pollution, water pollution, and soil pollution. By doing small practices in our daily life we can make a huge difference. For that, we all have to practice the “3Rs” in our daily life.</p><br>

        <h4>The 3Rs – Reuse, Reduce, Recycle</h4><br>
        <p>Reduce- try to reduce the use of single-use products maximum especially plastic substances.</p><br>
        <p>Reuse- always try to reuse day to life things. For example, carry kit when you are going for shopping.</p><br>
        <p>Recycle- try maximum to recycle or reuse things other than disposing of.</p><br>
        <p>Above all 3R’s will help us and our society for the proper disposal of waste management.</p><br>
        <img src="static/Garbage.jpg" alt="error">
    </div>

    <div id="id03">
        <img src="static/Recycle.png" alt="Error">
        <img src="static/Dustbin.png" alt="Error" height="165px">
    </div>

    <footer>
         <h4></h4>
    </footer>
</body>
</html>