* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
body {
    font-family: lato;
    }
    
#navArea {
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    position: fixed;
    width: 100%;
    top: 0px;
    background: rgb(235, 222, 45);
    transition: background 0.5s;
    }
    
#navArea .logo img {
    height: 90px;
    transition: height 0.5s;
    }
    
#navArea ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-around;
    font-size: 150%;
    }
    
#navArea ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: color 0.5s;
    }
    
#navArea.is-sticky {
    background: #000;
    }
    
#navArea.is-sticky a {
    color:#fff;
    }
    
#navArea.is-sticky .logo img {
    height:64px;
    }

p{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 50px;
    font-size: 300%;
    font-family: 'Public Sans', sans-serif;

}

/* .logout{
    text-align: center;
}

#Logout{
    margin-bottom: 190px;
    padding: 5px 30px 5px 30px;
    text-align: center;
    font-size: 120%;
    border: 0;
    border-radius: 8px;
    font-family: 'Public Sans', sans-serif;
    box-shadow:8px 2px 11px 4px rgba(0, 0, 0, 0.171);
} */

h1{
    text-align: center;
    font-size: large;
    margin-top: 20%;
    margin-bottom: 20px;
    font-size: 300%;
    font-family: 'Public Sans', sans-serif;

}
p{
    text-align: center;
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 370px;
    font-size: 100%;
    font-family: 'Public Sans', sans-serif;
}

footer{
    margin: 7% 0% 0% 0%;
    font-family: 'Public Sans', sans-serif;
    text-align: center;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
}
    